/* Inquire Page */
.inquire-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 20px 20px;
  }
  
.inqure-form{
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  margin-top: 40px;
}
  h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
  }
  
  h2 {
    font-size: 1.75rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  .inquire-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .inquire-form input,
  .inquire-form .i_select,
  .inquire-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .inquire-form input:focus,
  .inquire-form .i_select:focus,
  .inquire-form textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .inquire-form button {
    padding: 14px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .inquire-form button:hover {
    background-color: #0056b3;
  }
  
  .inquire-form .error {
    color: red;
    font-size: 0.9rem;
    margin-top: -10px;
  }
  
  @media (max-width: 768px) {
    .inquire-container {
      padding: 15px;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    .inquire-form input,
    .inquire-form select,
    .inquire-form textarea {
      padding: 10px;
    }
  
    .inquire-form button {
      font-size: 1rem;
    }
  }
  